<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="index.html">
            <span class="ml-3 text-2xl">HealthLink</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href="index.html#services">Services</a>
            <a class="mr-5 hover:text-gray-900" href="index.html#testimonial">Testimonials</a>
            <a class="mr-5 hover:text-gray-900" href="index.html#contactus">Contact Us</a>
        </nav>
        </div>
      </header>
      <!--banner section-->
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Hello, {{current_user.name}}</h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{url_for('static',filename='assets/reportdown.png')}}" alt="content">
                <h2 class="text-lg text-indigo-500 font-medium title-font mb-1">Upload Reports</h2>
                <p class="leading-relaxed text-base">Upload your medical records securely and conveniently to keep your healthcare information organized and accessible</p>
                <a class="text-indigo-500 flex items-center justify-center" href="uploadreport.html">Upload
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="xl:w-1/2 md:w-1/2 p-4">
              <div class="flex justify-around bg-slate-800 p-6 rounded-lg">
                <div class=" text-white text-xl">
                  <h2 class=""><span class="health-symbol">☤</span><strong> Health Card</strong></h2>
                  <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                  <p class="mt-5">Name: {{current_user.name}}</p>
                  <p>DOB: {{current_user.DOB}}</p>
                  <p>Gender: {{current_user.gender}}</p>
                  <p>{{current_user.pid}}</p>
                </div>
                <div class="qr-code">
                  <!-- Replace the QR code image source with an actual QR code generator -->
                  <img src="{{ qrcode.png_data_uri(dark='darkblue', data_dark='darkblue', alignment_dark='black', scale=5) }}">
                </div>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{url_for('static',filename='assets/reportup.png')}}" alt="content">
                <h2 class="text-lg text-indigo-500 font-medium title-font mb-1"><a href="viewreport.html">View Reports</a></h2>
                <p class="leading-relaxed text-base">Easily access and review your previous medical reports for a comprehensive understanding of your health history.</p>
                <a class="text-indigo-500 flex items-center justify-center">View
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{url_for('static',filename='assets/dc2.webp')}}" alt="content">
                <h2 class="text-lg text-indigo-500 font-medium title-font mb-1">Book Appointment</h2>
                <p class="leading-relaxed text-base">Schedule your next appointment with a doctor hassle-free and prioritize your health with ease.</p>
                <a class="text-indigo-500 flex items-center justify-center">Book Now
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
